*~
**/target
**/Cargo.lock
env

.theia

local.env

documentation/tosola_data_model.*
documentation/tosola_report.*
documentation/*.html
documentation/doc
documentation/scheduler

server/db

tosola_data/db
tosola_data/src/data/*.rs

tosola_report/db
tosola_report/src/data/*.rs

docker_content
gecko_profile.json
perf.data
perf.data.old

vgcore.*